<mat-card class="example-container">
    <div class="text-align-center"> 
    <h3>Reset your password</h3>
    </div>
    <mat-card-content>
        <form [formGroup] = "rpDetails" (ngSubmit)="reset_password()">
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput formControlName = "user_password" type="password"  maxlength="8" pattern="^[ A-Za-z_@./#&+-]*$">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName = "confirm_password" type="password">
            </mat-form-field>
            <mat-error *ngIf="rpDetails.hasError('notSame')">
                Passwords do not match
            </mat-error> 
            <br>
            <div class="text-align-center"> 
                <button mat-raised-button color="primary" type="submit">Update</button>
            </div>
        </form>
    </mat-card-content>
  </mat-card> 
  
  
  