
<div class="example-container">
    <div class="btn-wrap">
        <h3 class="left-align" >{{type}} Category</h3>
        <button type="button" class="right-align" mat-raised-button (click)="back()">Back</button>
    </div>
    <mat-card class="card-margin">
    <form [formGroup] = "category" (ngSubmit) = "add_category()">
        <div class="main_content">
            <div>
            <mat-form-field appearance="fill" class="custom_field">
                <mat-label>Name</mat-label>
                <input matInput formControlName = "name">
            </mat-form-field><br/>
            <div class="error_msg" *ngIf="submit && category.get('name').invalid && category.get('name').errors.required">
                Category name is required.
            </div><br/>
            <mat-form-field appearance="fill" class="custom_field">
                <mat-label>Sort Order</mat-label>
                <input matInput formControlName = "sort_order" type="number">
            </mat-form-field><br/>
            <div class="error_msg" *ngIf="submit && category.get('sort_order').invalid && category.get('sort_order').errors.required">
                Sort order is required.
            </div>
            <mat-radio-group formControlName="featured">
                <label>Featured Category ? </label>
                <mat-radio-button value="true">Yes</mat-radio-button>&nbsp;
                <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group><br/>
            <div class="error_msg" *ngIf="submit && category.get('featured').invalid && category.get('featured').errors.required">
                Featured category or not?.
            </div><br/>
            <mat-radio-group formControlName="status">
                <label>Status </label>
                <mat-radio-button value="true">Enabled</mat-radio-button>&nbsp;
                <mat-radio-button value="false">Disabled</mat-radio-button>
            </mat-radio-group><br/>
            <div class="error_msg" *ngIf="submit && category.get('featured').invalid && category.get('featured').errors.required">
                Select status type
            </div>
            </div>
            <div class="img">
                <div *ngIf="!imgURL && type=='Edit'" class="image-section">
                    <img  src="{{'http://pranaycarekleanup.in/category/' + categorydetails?.image}}" width = "200px"  height = "200px" >
                </div>
                <div *ngIf="imgURL" class="image-section">
                    <img [src]="imgURL" width = "200px" height = "200px" >
                </div>
                <br/><br/>
                <button type="button" mat-raised-button (click)="file.click()">Choose File</button>
                <input
                    type="file"
                    #file
                    style="display: none"
                    accept="image/x-png,image/gif,image/jpeg"
                    (change)="onFilesAdded($event)"
                />
                <div class="error_msg" *ngIf="submit && category.get('image').invalid && category.get('image').errors.required">
                    Image is required
                </div><br/>
                <div class="error_msg" *ngIf="imgError">
                    {{imgError}}
                </div><br/>
            </div>
        </div>
        <br/><br/><br/>
        <button mat-flat-button color="primary">{{type}}</button>
    </form>
</mat-card>
</div>
