<div class="example-container">
    <div class="btn-wrap">
        <h3 class="left-align" >{{type}} Product</h3>
        <button type="button" class="right-align" mat-raised-button (click)="back()">Back</button>
    </div>
   <mat-card class="card-margin">
    <form [formGroup]="regiForm" (ngSubmit)="add_product()" > 
        <div class="main_content">
    <div> 
    <mat-form-field appearance="fill" class="custom_field">
        
        <input matInput placeholder="Product name"  formControlName="name">
    </mat-form-field><br/>
    <mat-form-field appearance="fill" class="custom_field">
        <textarea matInput placeholder="Product Description"  formControlName="description"></textarea>
    </mat-form-field><br/>
    <mat-form-field appearance="fill" class="custom_field">
        <input matInput placeholder="Product price"  formControlName="price">
    </mat-form-field><br/>
    <mat-form-field appearance="fill" class="custom_field">
    <mat-select placeholder="Product category"  formControlName="category">
        <mat-option *ngFor="let category of categorylist" [value]="category._id">{{category.name}}</mat-option>
    </mat-select>
    </mat-form-field><br/>
    
    <mat-radio-group formControlName="featured">
        <label>Featured Product ? </label>
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
    </mat-radio-group><br/><br/>
    <mat-radio-group formControlName="status">
        <label>Status </label>
        <mat-radio-button value="true">Enabled</mat-radio-button>&nbsp;
        <mat-radio-button value="false">Disabled</mat-radio-button>
    </mat-radio-group><br/>
    </div>
    <div class="img">
        
            <div *ngIf="imgURL.length == 0" class="image-section">
                <div *ngFor = "let img of productDetails?.image"  style="margin-right: 5px;">
                    <img  src="{{'http://pranaycarekleanup.in/products/' + img}}" width = "200px"  height = "200px" >
                </div>
            </div>
           
            <div *ngIf="imgURL?.length" class="image-section">
                <div *ngFor = "let img of imgURL"  style="margin-right: 5px;">
                    <img [src]="img" width = "200px" height = "200px" >
                </div>
            </div>
            
       <br/><br/>
        <button type="button" mat-raised-button (click)="file.click()">Choose File</button>
        <input type="file" formControlName="image" #file style="display: none" accept="image/x-png,image/gif,image/jpeg" (change)="onFilesAdded($event)" multiple/>
        <div class="error_msg" *ngIf="submit && regiForm.get('image').invalid && regiForm.get('image').errors.required">
            Image is required
        </div><br/>
        <div class="error_msg" *ngIf="imgerror">
            ({{imgerror}})
         </div>  
    </div> 
</div><br/><br/>
    <button mat-flat-button color="primary">{{type}}</button>
</form>
</mat-card>
</div>